/*!
 * Gene Styles
 * Copyright 2015-2016 Leading Brands
* Licensed under MIT
 */
/*
@font-face {
    font-family: "helvetica";
    src: url('../fonts/Helvetica/Helvetica-Light.eot');
    src: url('../fonts/Helvetica/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica/Helvetica-Light.svg#Helvetica') format('svg'),
    url('../fonts/Helvetica/Helvetica-Light.woff') format('woff'),
    url('../fonts/Helvetica/Helvetica-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

.margin-b-20 {
    margin-bottom: 40px;
}

a.pink , a.pink:hover {
    color: #be193f !important;
}
a.pink:hover, a.pink p:hover {
    cursor: pointer;
}

#nav .main-nav a.active, #nav .main-nav a.active:hover {
    color: #be193f !important;
}

#nav .main-nav a:after {
}

.main-nav .trial-mobile {
    display: none;
}

.main-nav.trial {
    margin-left: 5px;
    padding-top: 23px;
}

.slick-list,
.slick-slider,
.slick-track {
    position: relative;
    display: block
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
    visibility: hidden
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    top: 0;
    left: 0
}

.slick-track:after,
.slick-track:before {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block;
    padding: 0 240px;
    margin-bottom: 10px;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

@charset 'UTF-8';
.slick-dots,
.slick-next,
.slick-prev {
    position: absolute;
    display: block;
    padding: 0
}

.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
    font-family: slick;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-loading .slick-list {
    background: url(ajax-loader.gif) center center no-repeat #fff
}

@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url(fonts/slick.eot);
    src: url(fonts/slick.eot?#iefix) format('embedded-opentype'), url(fonts/slick.woff) format('woff'), url(fonts/slick.ttf) format('truetype'), url(fonts/slick.svg#slick) format('svg')
}

.slick-next,
.slick-prev {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
    color: transparent;
    outline: 0;
    background: 0 0
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before,
.slick-prev:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff
}

.slick-prev {
    left: -25px
}

[dir=rtl] .slick-prev {
    right: -25px;
    left: auto
}

.slick-prev:before {
    content: '←'
}

.slick-next:before,
[dir=rtl] .slick-prev:before {
    content: '→'
}

.slick-next {
    right: -25px
}

[dir=rtl] .slick-next {
    right: auto;
    left: -25px
}

[dir=rtl] .slick-next:before {
    content: '←'
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    bottom: -25px;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0
}

.slick-dots li button:focus,
.slick-dots li button:hover {
    outline: 0
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #000
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000
}

#app ul li,
.section-title h2 {
    border-bottom: 1px solid #000
}

#trial,
.section-title,
footer {
    text-align: center
}

#trial .start {
    font-size: 40px;
    line-height: 60px;
    color: #fff !important;
    border: 1px solid #fff;
    margin-top: 0;
}

#trial {
    height: 197px;
    color: #fff;
}

#trial .container {
    position: relative;
}

#trial a {
    color: #fff;
}


#trial .bg-bars, #trial .bar {
    height: 200px;
}

.divider,
.section-title h2,
.section-title p {
    display: inline-block
}

a,
a:hover {
    color: #000;
    font-size: 25px;
    text-decoration: none
}

a:focus {
    outline: 0!important
}

.dark-bg a,
.dark-bg a:hover,
.dark-bg h2,
.dark-bg p,
.dark-bgp {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
}

section {
    padding: 40px 20px
}

#nav {
    padding-top: 6px;
    background: 0 0;
    height: 75px;
    margin-bottom: 0;
}

#nav .main-nav a,
#nav .main-nav a:hover {
    margin: 5px;
    font-size: 15px;
    line-height: 15px;
    color: #000 !important;
    border-right: 1px solid #000;
    padding-right:14px;
}

#nav .main-nav a.dark:last-child {
    padding-right: 0 !important;
    border-right: 0 !important;
}

#nav .main-nav a.pink,
#nav .main-nav a.pink:hover {
    border: 1px solid #be193f;
    padding: 5px;
    color: #ffffff !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #be193f;
}

.main-nav {
    padding-top: 18px;
    width: auto;
    float: right;
}

#slider {
    background: #be193f;
    background-image: url(../../flapielements/Banner-1.png);
    background-size: 100% auto;
    background-position: center bottom;
    min-height: 500px;
    background-repeat: no-repeat;
}

#slider.black-bg {
    background-image: url(../../flapielements/Banner-2.png);
    background-size: auto 100%;
}


#slider.black-bg .vcenter {
    padding-right: 60px;
}

#slider .row {
    text-align: center;
}


#slider .caption {
    margin-top: 50px;
}

#slider h2 {
    font-size: 40px;
    margin-top: 0;
    line-height: 44px;
    margin-bottom: 16px;
    font-weight: lighter;
}

#slider img {
    max-width: 920px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 5%;
}

#slider button {
    font-size: 20px;
    line-height: 24px;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 13px 26px;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
}

#slider button.dark {
    border: 2px solid #333;
    color: #333;
}

.slick-slider {
    min-height: 155px;
}

p {
    font-size: 20px;
    line-height: 24px
}

.section-title h2 {
    color: #000;
    font-size: 61px;
    width: auto;
    margin: 0 auto 15px;
    text-transform: uppercase
}

#views .col-md-7,#views .col-md-6,#customization .text {
    min-height: 419px;
}

#contact h2 {
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 15px;
    margin-top: 20px;
}

#plans .item {
    background-color: #75797a;
    margin: 25px;
    padding: 22px
}

#plans .item h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 51px;
    margin: 0 0 15px
}

#plans .item a,
.plan-slider a {
    background-color: #158da6;
    padding: 8px 12px;
    color: #fff;
    font-size: 25px;
    border-radius: 10px
}

#plans .item .content {
    height: 100px;
    width: 100%
}

#plans .item .content p {
    color: #fff
}

#easy a {
    color: #333;
    font-size: 20px;
    line-height: 24px;
}

#easy a:hover {
    color: #df1377 !important;
    text-decoration: none;
}

.slick-list {
    width: 100%
}

.slick-dots li button {
    background: #cecece;
    border-radius: 50%
}

.slick-dots li.slick-active button {
    background: #158da6;
    border-radius: 50%
}

.slick-dots li button:before {
    content: ""
}

#demo {
    background: #e8e8e8;
    padding: 60px 20px
}

#demo img {
    width: 120%
}

#demo .left img {
    margin-left: -15%
}

#demo .right img {
    margin-left: 5%
}

#app ul {
    padding: 30px 70px 0 0;
    margin-left: -25px
}

#app ul li {
    list-style: none;
    font-size: 29px;
    line-height: 32px;
    padding: 40px 0 16px;
    width: 100%
}

#app ul li:last-child {
    border-bottom: 0
}

#trial {
    background: #989bd8;
    color: #fff;
    padding: 35px 0;
}

#trial form {
    text-align: center;
    width: 80%;
    display: inline-block;
}

#trial h2 {
    font-size: 40px;
    line-height: 44px
}

#trial input[type=email] {
    width: 80%;
    font-size: 26px;
    color: #000;
    padding: 8px 15px;
    height: 57px;
    display: inline-block;
}

#trial input[type=submit] {
    display: inline-block;
    top: 0;
    right: 15px;
    background-color: transparent;
    color: #fff;
    padding: 7px 15px;
    border: 1px solid #fff;
    display: inline-block;
    margin-top: 20px;
}

input.form-control ,
select.form-control ,
textarea.form-control
{
    background-color: #efefef;
    border: 0;
    border-radius: 0;
    margin: 4px 0;
    font-size: 16px;
    padding: 10px 15px;
    /* height: 20px; */
    resize: none;
}

input.form-control  {
    height: 35px
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-size: 16px !important;
    height: 35px !important;
    line-height: 35px !important;
    color: #555 !important;
}

.bootstrap-select > .dropdown-toggle {
    background-color: #efefef !important;
    border-radius: 0 !important;
    height: 35px !important;
}

input[type=submit].form-control {
    height: 45px;
    color: #333;
    border: 2px solid #333;
    padding: 0px 20px;
    color: #333 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    margin-top: 20px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 20px;
}

#slider .slider, #slider .col {
    /*padding: 0 40px;*/
    height: 560px;
}

#ideal-way .col {
    /*padding: 0 40px;*/
    height: 430px;
}

#ideal-way .vcenter {
    padding: 0 40px;
}

#slider .vcenter {
    padding: 0 10px;
}

footer {
    background-color: #424444;
    padding: 20px;
    color: #fff;
    font-size: 26px
}

.divider {
    width: 1px;
    background-color: #a2a2a2;
    height: 43px;
    margin: 0 3px;
    vertical-align: middle;
}

#copyright {
    font-family: Helvetica;
    font-size: 14px;
}

.main-nav.trial-mobile {
    display: none;
}

.main-nav {
    display: block;
}

button.start, input.start {
    border: 2px solid #df1377 !important;
    padding: 0px 20px;
    color: #df1377 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    margin-top: 10px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 20px;
}

.green-bg {
    background-color: #60c4b7;
}

.pink-bg {
    background-color: #fe8083;
}

.gray-bg {
    background-color: #666;
    color: #fff;
}

.border-box {
    box-sizing: border-box;
}

.margin-t-0 {
    margin-top: 0 !important;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-tb-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.margin-tb-4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.padding-t-40 {
    padding-top: 40px;
}

.padding-t-20 {
    padding-top: 20px;
}

.padding-b-40 {
    padding-bottom: 40px;
}

.padding-b-15 {
    padding-bottom: 15px;
}

.padding-b-0 {
    padding-bottom: 0;
}

.margin-t-40 {
    margin-top: 40px;
}
.margin-t-30 {
    margin-top: 30px;
}

.margin-t-10 {
    margin-top: 10px !important;
}

.margin-l-40 {
    margin-left: 40px !important;
}

.margin-l-80 {
    margin-left: 80px !important;
}

.navbar-toggle {
    border: 1px solid #929292 !important;
    display: none;
}

.navbar-toggle .icon-bar {
    background-color: #929292;
}

/*** INNER PAGES ****/

#industryFigs .fig {
    min-height: 290px;
    background-color: #ccc;
    color: #fff;
    width: 390px;
    height: 390px;
    display: inline-table;
    box-sizing: border-box;
    padding: 80px 40px;
    float: none;
}

#industryFigs .fig.red {
    background-color: #be193f;
}

#industryFigs .fig.orange {
    background-color: #f5973b;
}

#industryFigs .fig.lime {
    background-color: #cbc550;
}

#industryFigs .fig.dark {
    background-color: #424443;
}

#industryFigs .fig.blue {
    background-color: #748fb7;
}

#industryFigs .fig.bluegreen {
    background-color: #118086;
}

#hiw-video {
    background: url('../img/new/how-it-works-bg.png');
}

#hiw-video h1, #hiw-video p {
    color: #fff;
}

button.start.white {
    border:1px solid #fff !important;
    padding: 7px 20px;
    color: #fff !important;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background-color: transparent;
    margin-top: 20px;
}

#pricing-table .circle {
    width: 100%;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
    padding: 24px;
    color: #fff;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
}


#pricing-table .color-box.orange-light {
    background-color: #f5973b;
}


#pricing-table .color-box.orange {
    background-color: #ee5c21;
}


#pricing-table .color-box .text.small {
    font-size: 14px;
}

#pricing-table .color-box.lime {
    background-color: #a29a27;
}


#pricing-table .color-box.lime-light {
    background-color: #cbc550;
}

#pricing-table .color-box.blue {
    background-color: #375085;
}

#pricing-table .color-box.blue-light {
    background-color: #748fb7;
}


#pricing-table .color-box.green-light {
    background-color: #118086;
}

#pricing-table .color-box.green {
    background-color: #054047;
}


#pricing-table .color-box {
    padding: 20px;
}


#pricing-table .circle.bottom {
    width: 125px;
    height: 125px;
    display: inline-block;
    box-sizing: border-box;
    padding: 17px;
    background:green;
}

#pricing-table h2 {
    margin: 0 0 20px;
}

#pricing-table .circles .col {
    padding: 10px;
    border: 2px solid #fff;
    width: 284px;
    height: 420px;
    cursor: pointer;
}

#pricing-table .circle {
    cursor: pointer;
    padding: 20px;
}

#pricing-table .circle .number {
    display: inline-block;
    text-align: center;
    font-size: 97px;
    line-height: 70px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

#pricing-table .circle .text {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

#pricing-table .circle .price {
    font-size: 80px;
    position: relative;
    cursor: pointer;
    height: 80px;
    line-height: 80px;
}


#pricing-table .circle .price .dollar {
    font-size: 41px;
    height: 90px;
    margin-top: -47px;
    position: absolute;
    top: 61%;
    left: -24px;
    cursor: pointer;
}

.pricing .intro {
    padding: 0 60px;
}
/*#pricing-table .green {*/
/*background-color: #b6e1da;*/
/*}*/

/*#pricing-table .red {*/
/*background-color: #fec3c4   ;*/
/*}*/

/*#pricing-table .blue {*/
/*background-color: #e2f8ff;*/
/*}*/

/*#pricing-table .pink {*/
/*background-color: #fae3f0;*/
/*}*/

/*#pricing-table .green .circle {*/
/*background-color: #60c4b8;*/
/*}*/

/*#pricing-table .red .circle  {*/
/*background-color: #fe8083;*/
/*}*/

/*#pricing-table .blue .circle  {*/
/*background-color: #b1eaff;*/
/*}*/

/*#pricing-table .pink .circle  {*/
/*background-color: #f0b4d5;*/
/*}*/


@media screen and (max-width:1520px) {
    #industry .col-lg-10 {
        width: 100%;
    }
}

@media screen and (max-width:1300px) {
    #industry .pink-bg {
        float: left;
        width: 100%;
    }
    #industry .pink-bg img {
        display: inline-block;
        width: 200px;
        height: auto;
        float: none !IMPORTANT;
    }
    #industry .gray-bg {
        float: left;
        width: 100%;
    }

    #industryFigs .fig {
        min-height: 100px;
    }
}

.slick-slider {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.slick-list.draggable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover {
    text-decoration: none !important;
}

.vcenter {
    position: absolute;
    top:50%;
    left: 0;
    text-align: center;
}

.relative {
    position: relative;
}

.bg-white {
    background-color: #fff;
}

.bg-circle {
    display: block;
    position: absolute;
    top: -34%;
    right: -3%;
    width: 680px;
    height: 680px;
    background-color: #424443;
    border-radius: 50%;
}

.bg-circle.center {
    top: -15%;
    right: 2%;
}

.bg-bars {
    display: block;
    position: absolute;
    height: 500px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #424443;
}

.bg-bars .bar {
    display: block;
    float: left;
    height: 500px;
}

.bg-bars .bar.w20 {
    width: 20%;
}

.bg-bars .bar.w10 {
    width: 10%;
}

.bg-bars .bar.w30 {
    width: 30%;
}

.bg-bars .bar.w40 {
    width: 40%;
}

.bg-bars .bar.w50 {
    width: 50%;
}

.bg-bars .bar.w60 {
    width: 60%;
}

.bg-bars .bar.pink {
    background-color: #be2373;
}

.bg-bars .bar.purple {
    background-color: #711660;
}

.bg-bars .bar.indigo {
    background-color: #989cd6;
}

.bg-bars .bar.bluegreen {
    background-color: #118085;
}

.bg-bars .bar.darkblue {
    background-color: #042d43;
}

.bg-bars .bar.blue {
    background-color: #1b7aaf;
}

.bg-bars .bar.skyblue {
    background-color: #37e1cc;
}

.bg-bars .bar.lgreen {
    background-color: #21ac92;
}

.bg-bars .bar.lindigo {
    background-color: #68c3b7;
}

.bg-bars .bar.green {
    background-color: #20ab66;
}

.bg-bars .bar.lightgreen {
    background-color: #35df8e;
}

.overflow-hidden {
    overflow: hidden;
}

#easy .col {
    height: 500px;
}

#easy .bg-image {
    background: url('../../flapielements/Image-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#customization .text p {
    color: #fff;
}

#customization .col {
    height: 480px;
    background-color: #f5973b;
}

#customization .bg-bars, #customization .bg-bars .bar {
    height: 520px;
}

#customization img {
    margin-top: 10px;
}

#views .col {
    height: 475px;
    background-color: #748fb7;
}

.bluegreen-bg {
    background-color: #be193f;
    color: #fff;
}

#slider.pricing {
    height: 500px !important;
    background-image: none !important;
}
#slider.pricing img {
    top: 0;
}

#slider.pricing .col.left {
    background-color: #be193f;
}
#slider.pricing .col.right {
    background-image: url(../../flapielements/Banner-3.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#slider.pricing h2,#slider.pricing p {
    color: #fff;
}

#slider.pricing .bg-bars {
}

.features li {
    font-size: 20px;
    margin-bottom: 15px;
}

ul.features {
    list-style: none !important;
    padding-left: 0;
}

ul.features .check {
    display: inline-block;
    height: 20px;
    background: url('../img/v2/check-small.png');
    float: left;
    width: 10%;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: bottom left;
}

ul.features p {
    float: left;
    width: 90%;
}
#register .form-control  {
    margin-bottom: 8px;
}
#register .btn-default {
    padding: 0;
}
#register .form-control {
    padding: 0 20px;
}
#register .filter-option  {
    font-size: 20px;
    padding: 0;
    color: #555;
}

#register #termsRadio  {
    margin-right: 8px;
    margin-top: 5px;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    background-position: center !important;
    margin-left: -20px !important;
    background-size: 17px !important;
    height: 35px !important;
}

input.submit {
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    margin-top: 5px;
}

.dropdown-menu>li>a {
    font-size: 16px !important;
    padding: 8px 20px !important;
    color: #555 !important;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
    font-weight: bold !important;
    color: #000 !important;
}


.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    margin-top: 10px !important;
    font-size: 12px !important;
}

button:focus,button:active,a:focus,a:active {
    outline: 0 !important;
    outline: none !important;
    box-shadow: none;
}

#register .error {
    color: rgb(216, 64, 64);
    padding-top: 5px;
    width: 100%;
    float: left;
    margin-top: 20px;
    font-size: 16px;
    display: none;
}

#register hr {
    margin-top: 0;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid #808080;
}

#termsField {
    font-size: 16px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgba(250, 255, 189,.1) !important;
    background-image: none;
}

.bootstrap-select.btn-group .dropdown-menu li.disabled .glyphicon {
    display: none !important;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
}

.bootstrap-select.form-control {
    padding: 0 !important;
}

.bootstrap-select button {
    padding: 0 15px !important;
}

.modal-body p {
    font-size: 15px !important;
}

input[type=submit] {
    background: none;
    border: 2px solid #555;
    color: #555;
    margin-top: 8px;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    max-height: 300px !important;
}

#termsModal p {
    margin-bottom: 12px;
}

#termsModal ul,#termsModal ul li,#termsModal ol,#termsModal ol li {
    font-size: 15px;
}
#termsModal ul li, #termsModal ol li {
    margin-bottom: 4px;
}
#termsModal ul, #termsModal ol {
    padding-left: 26px;
}

#termsModal strong {
    margin-top: 12px;
    display: inline-block;
}

img.shadow {
    box-shadow: 5px 6px 40px rgba(0,0,0,0.2);
    margin: 40px 0 60px;
}



@media screen and (max-width:1620px) {
    #views .col-md-7 {
        width: 80%;
        margin: 0 auto;
        float: right;
    }

    #customization .gray-bg .text {
        width: 80%;
        margin-left: 20%;
    }

}
@media screen and (min-width:1320px) {

    .industries-wrap {
        padding: 0 10%;
    }

}

@media screen and (max-width:1230px) {
    #views .col-md-7 {
        width: 100%;
        margin: 0 auto;
        float: right;
    }
    #customization .border-box .col-md-6 {
        width: 100%;
        margin: 0 auto;
        float: right;
    }
    .margin-l-n60 {
        margin-left: 0 !important;
    }
}


@media screen and (max-width:1360px) {
    #demo img {
        width: 100%;
        margin: 0 auto
    }
}

@media screen and (max-width:1200px) {

    #slider.black-bg {
        background: transparent;
        height: auto;
        min-height: 100px;
    }

    #slider.black-bg .vcenter {
        padding: 0 !important;
    }

    #slider.pricing {
        background: #be193f;
        height: auto !important;
        min-height: 100px;
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }

    #app ul li {
        list-style: none;
        line-height: 27px;
        border-bottom: 1px solid #000;
        padding: 11px 0 16px;
        width: 100%;
        font-size: 23px
    }

    #customization .gray-bg .text {
        width: 100% !important;
        margin-left: 0% !important;
    }

    #ideal-way img {
        margin-top: 40px;
    }

    #slider img {
        max-width: 920px;
        position: relative !important;
        display: inline-block;
        left: auto;
    }
    #slider .slider, #slider .col {
        height: auto;
    }
    #slider .vcenter {
        position: relative;
        top: 0 !important;
        left: 0;
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }

    #slider.black-bg.pricing , #slider.black-bg .bg-bars, #slider.black-bg .bar {
        min-height: 260px;
        height: 260px;
    }

    #slider.black-bg.pricing img {
        display: none;
    }

    #pricing-table .text-center {
        width: 100%;
    }

    #pricing-table .circles .col {
        display: inline-block;
        float: none;
    }

}

@media screen and (max-width:991px) {

    .vcenter {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        text-align: center !important;
        margin-top: 0 !important;
    }

    #easy img, #customization img, #views img {
        margin-left: 0 !important;
    }

    #easy .bg-image {
        background-size:100% auto ;
        height: 400px !important;
    }

    #easy .margin-l-80 {
        margin-left: 0 !important;
        padding: 40px 0;
    }

    #customization .col.overflow-hidden {
        padding: 20px !important;
    }

    #customization .col.overflow-hidden img {
        margin-top: 0;
    }

    #views .col {
        padding: 20px !important;
    }

    #easy .bg-image {
        display: none;
    }

    .col {
        height: auto !important;
    }

    #slider .slider {
        padding: 0 60px;
    }

    .slick-initialized .slick-slide {
        padding: 0;
    }

    #app ul {
        padding-top: 0
    }
    #app ul li {
        padding: 30px 0 16px
    }
    #slider {
        min-height: 420px;
    }

    #views .col-md-6.border-box {
        min-height: 350px;
    }

    #views .col-md-6.green-bg {
        min-height: 150px;
    }

    #easy img, #customization img, #views img {
        float: none !important;
        margin: 0;
    }

    #views .col-md-7 {
        width: 80%;
        margin: 0 auto;
        float: none;
    }

    .margin-t-40.padding-t-40 {
        margin-top: 0;
        padding-top: 0;
    }

    .padding-tb-40 {
        padding-top: 0 !important;
    }

    #customization h2 {
        padding-top: 40px !important;
    }

    #customization .text {
        min-height: 100px;
    }

    #views .col-md-7 {
        min-height: 100px;
    }

    #mobile img {
        float: none !important;
        display: inline-block;
        margin-right: 0;
    }

    #ideal-way img {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    #slider .slider, #slider .col {
        height: auto;
    }

    ul.features {
        text-align: center;
        list-style: none !important;
        padding-left: 0;
    }

    ul.features li {
        float: left;
        text-align: center;
        width: 100%;
    }

    ul.features .check,ul.features p {
        display: inline-block;
        float: none !important;
        width: auto !important;
    }

    ul.features .check {
        width: 20px !important;
    }
}

@media screen and (max-width:767px) {
    #app ul,
    #copyright {
        float: left;
        width: 100%
    }
    #app ul li,
    #contact input,
    #contact textarea,
    #copyright {
        text-align: center
    }
    #nav a {
        margin: 5px
    }
    #nav .text-right a {
        font-size: 14px
    }
    #app ul {
        padding: 0 10%;
        margin-top: 20px;
        margin-left: 0
    }
    #slider h2 {
        margin-top: 25px;
        font-size: 42px
    }
    #slider p {
        margin-top: 25px;
        font-size: 21px
    }
    .section-title h2 {
        margin-top: 25px;
        font-size: 50px
    }
    .section-title p {
        margin-top: 5px;
        font-size: 21px
    }
    section {
        padding: 20px
    }
    #trial h2 {
        font-size: 39px;
        line-height: 45px
    }
    #copyright {
        margin-top: 20px
    }

    #views img, #customization img {
        margin: 0;
        padding: 3%;
        width: 90%;
    }

    #views .green-bg, #customization .pink-bg {
        padding-bottom: 0 !important;
    }

    #customization .gray-bg,
    #customization .pink-bg {
        float: left;
        width: 100%;
        min-height: 100px;
    }

    #easy img {
        width: 90%;
    }

    #trial button {
        width: 90%;
    }

    #slider img {
        width: 100%;
    }
}

@media screen and (max-width:700px) {
    #mobile-bt {
        display: block !important;
    }

    .mobile-nav {
        width: 100% !important;
        background-color: #fff;
        padding: 0 !important;
    }

    .main-nav {
        width: 100% !important;
    }

    .main-nav a, .main-nav a:hover {
        float: left;
        text-align: center;
        width: 100% !important;
        padding: 5px 0 !important;
        font-size: 18px !important;
    }

    .main-nav.trial {
        display: none;
    }

    .main-nav.trial-mobile {
        display: block;
    }

    #mobileable {
        display: none;
        position: absolute;
        background-color: #fff;
        z-index: 1111;
    }

    .main-nav .trial-mobile {
        display: block;
    }
}


@media screen and (min-width:701px) {

    #mobileable {
        display: block !important;
    }
}

@media screen and (max-width:520px) {

    #slider .slider {
        padding: 0 20px;
    }

    #slider h2 {
        margin-top: 25px;
        font-size: 35px;
        line-height: 35px
    }
    #slider p {
        margin-top: 15px;
        font-size: 18px
    }
    #plans .item .content {
        height: 200px;
        width: 100%
    }
    footer img {
        height: 60px
    }
    footer .divider {
        display: none
    }
    #nav .text-right a {
        font-size: 15px
    }
    #nav .text-right {
        padding-top: 56px
    }

    #mobileable {
        display: none;
    }

    .navbar-toggle {
        display: block !important;
    }

    #views .col-md-7 {
        width: 100%;
    }

    .padding-lr-40 {
        padding: 0 15px !important;
    }

    #views .start, #customization .start {
        margin-bottom: 30px;
    }


    #industryFigs .fig {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #trial, #trial .bg-bars, #trial .bar {
        height: 254px;
    }

    #mobile .padding-tb-40 {
        padding-bottom: 20px !important;
    }
    #industryFigs .fig {
        width: 370px !important;
        height: 370px !important;
        padding: 70px 30px !important;
    }
}