 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default;color:#999 !important;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

 .navbar-brand {
  display: inline-block;
  float: none;
 }

 .top-nav {
  background-color: #b1b1b1;
  height: 26px;
  display: inline-block;
  z-index: 1001;
 }


 .top-nav .nav-menu {
  height: 24px;
  line-height: 24px;
 }

 .top-nav .nav-menu a {
  display: inline-block;
  padding-left: 0;
  height: 12px;
  /*background-position: left 2px;*/
  /*background-repeat: no-repeat;*/
  /*background-size: 20px;*/
  color: #5f5d5e;
  font-size: 12px;
  line-height: 12px;
  padding-right: 10px;
  margin-right: 7px;
  /*border-right: 1px solid rgb(77,77,77);*/
 }

 .top-nav .nav-menu a:last-of-type {
  border-right: 0;
 }

 .top-nav .nav-menu.pull-left a {
  display: inline-block;
  padding-left: 0;
  height: auto;
  background: none;
  color: #5f5d5e;
  font-size: 12px;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
 }

 .top-nav .nav-menu.pull-left a button {
  background-color: transparent;
  border: 0;
  height: 22px;
  padding: 0 5px;
 }

 .top-nav .nav-menu a.settings {
  background-image: url('../img/icons/Settings.png');
 }

 .top-nav .nav-menu a.schedule {
  background-image: url('../img/icons/Schedule.png');
 }

 .top-nav .nav-menu a.logout {
  padding-left: 22px;
  background-image: url('../img/icons/Logout.png');
 }

 .navbar-default {
  background-color: #FFFFFF;
  border-color: rgba(0,0,0,.4);
  margin-bottom: 0;
 }

 .navbar .text-left img, .navbar .text-left a {
  float: left;
  margin-top: 10px;
 }

.navbar .text-right a img  {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
 }

 .logo-placeholder {
  display: block;
  height: 82px;
  padding: 30px 38px;
  color: #989898;
  margin-top: 5px;
  margin-left: 12px;
  width: 150px;
  font-size: 14px;
  background-image: url('../img/Company-Logo-Filler.png');
  text-align: center;
 }

.border-right-gray {
 border-right: 1px solid #959595;
}

.border-left-gray {
 border-left: 1px solid #959595;
}

h3.heading {
  margin: 10px 0 3px 0;
  color: #cf2982;
  line-height: 19px;
  font-size: 19px;
  font-weight: 100;
}

.form-control {
 height: 28px;
 font-size: 15px;
 line-height: 28px;
 padding: 0 10px;
}

.flatplan-item {
 float: left;
 display: inline-block;
 margin-right: 15px;
 margin-top: 15px;
 position: relative;
 overflow: hidden;
}

.flatplan-item .actions a {
 color: #b2b2b2;
 font-size: 14px;
}

.flatplan-item .actions a:hover {
 color: #cf2982;
}

.flatplan-item:hover .item span {
 color: #cf2982;
}

.flatplan-item .item span {
 color: #5f5d5e;
 width: 100%;
}

.flatplan-item p.issue {
 position: absolute;
 bottom: 0;
 font-size: 12px;
 margin: 0;
 color: #fff;
 background-color: rgba(0,0,0,.5);
 padding: 0 5px;
 height: 17px;
 line-height: 17px;
}

.flatplan-item p.title {
 position: absolute;
 top: 0;
 /* left: 4px; */
 font-size: 12px;
 margin: 0;
 color: #fff;
 background-color: rgba(0,0,0,.5);
 padding: 0 5px;
 height: 17px;
 line-height: 17px;
 text-align: left;
 overflow: hidden;
 width: 150%;
}

.flatplan-item .actions .divider {
 background-color: #b2b2b2;
 width: 1px;
 height: 14px;
 display: inline-block;
 padding: 0;
 line-height: 14px;
 margin: -2px 3px;
}

.flatplan-item .item {
 margin: 0 auto;
 display: inline-block;
 width: 90px;
 height:120px;
 background-color: #e5e5e5;
 cursor: pointer;
 border: 1px solid #d4d4d4;
 padding-top: 25px;
 text-align: center;
}

.flatplan-item span {
 text-align: center;
 display: inline-block;
 line-height: 16px;
}

.flatplan-item span.issue {
 font-size: 11px;
}

.flatplan-item .item:hover {
 border:1px solid #cf2982;
}

.flatplan-item .plus-icon {
 background: url('../img/icons/Plus-Pink.png');
 background-position: center;
 background-repeat: no-repeat;
 padding: 0;
 width: 100%;
 height: 45px;
 margin-top: 10px;
}
 input, select, textarea, .bootstrap-select, .form-control {
 margin-bottom: 6px;
}

#app-nav a {
 font-size: 15px;
 color: #333 !important;
}

.invite-list {

}


.invite-list label {
 font-size: 14px;
 font-weight: 100;
 height: 14px;
 line-height: 18px;
}

.invite-list p {
 margin: 0;
 padding-bottom:0;
}
.invite-list ul {
 padding: 0 8px;
 background-color: #f6f6f6;
}

.invite-list ul li {
 border-bottom: 1px solid #adadad;
 padding: 5px 0;
}


.invite-list ul .bootstrap-select {
 margin-bottom: 0;
}


 .modal {
  text-align: center;
  padding: 0!important;
 }

 .modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
 }

 .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
 }

 .modal-body {
  color: #999999;
 }

 #app-nav {
  padding-bottom: 5px;
  padding-top: 5px;
 }

 #app-nav a {
  font-size: 15px;
  color: #333 !important;
  display: inline-block;
  padding-right: 15px;
  margin-right: 9px;
  border-right: 1px solid #8a8a8a;
  margin-bottom: 10px;
  height: 20px;
  line-height: 20px;
 }

 #app-nav a.active {
  color: #cf2982 !important;
 }

 #app-nav a:last-child {
  border-right: 0;
 }

 .blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
 }


 #plansModal p {
  line-height: 18px;
 }