
/*********************************************************/
/******************** Flatplan Show Page ****************/
/*******************************************************/

#flatplanView {
    font-size: 14px;
}

.info-panel {
    padding: 10px 0;
}

.info-panel p {
    margin-bottom: 0;
}

.info-panel label {
    font-weight: 400;
    margin-bottom: 0;
}

#flatplan-pages .page {
    width: 74px;
    height:98px;
    float: left;
    border:1px solid #ccc;
    margin: 5px 2px 20px 2px;
    display: block;
}

#flatplan-pages .page {
    position: relative;
}

#flatplan-pages .page.approved:after {
    content: "";
    position: absolute;
    width: 72px;
    height: 96px;
    left: 0;
    top: 0;
    z-index: 111;
    background-image: url('../img/line-slash-back.png');
}

#flatplan-pages .page.complete:before {
    content: "";
    position: absolute;
    width: 72px;
    height: 96px;
    left: 0;
    top: 0;
    z-index: 111;
    background-image: url(../img/line-slash.png);
}

#flatplan-pages .page.dragging {
    position: relative;
}

#flatplan-pages .ui-sortable-helper .action.move {
    display: block !important;
}

#flatplan-pages .page.empty {
    border: 1px solid #555 !important;
    background-color: #fff !important;
}

#flatplan-pages .page.empty .section {
    border: 0;
}

#flatplan-pages .page .title {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 9px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#flatplan-pages.traditional .page:nth-child(2n-1) {
    margin-right: 40px;
}

#flatplan-pages.modern #innerPages .page:nth-child(2n-2) {
    margin-right: 40px;
}

/*#flatplan-pages .page:nth-child(11n-11) {*/
    /*margin-right: 0 !important;*/
/*}*/

#flatplan-pages.modern .covers:first-child {
    margin-right: 40px;
    float: left;
}

#flatplan-pages.modern .covers:last-child {
    margin-left: 40px;
    float: left;
}

#flatplan-pages .page:nth-child(2n-1) {
    /*margin-left: 10px;*/
}

#flatplan-pages.dragging .page:nth-child(2n-1) {
    margin-right: 0 !important;
}

#flatplan-pages.dragging .page:nth-child(3n-1) {
    margin-right: 24px !important;
}

#flatplan-pages .page .section, #page-layouts .page-layout .section {
    position: absolute;
    border: 1px solid #555;
    padding: 0;
    background-color: #fff;
}

#flatplan-pages .page .section {
    border: 1px solid #555 !important;
}

#flatplan-pages .page:hover, #page-layouts .page-layout .section {
    background-color: #f0f0f0;
}

#flatplan-pages .page .action {
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    cursor: pointer;
    display: none;
    z-index: 999;
}

#flatplan-pages .page:hover .action {
    display: block;
}

#flatplan-pages .page .action.delete {
    top: 3px;
    left: 3px;
    background-image: url('../img/icons/page-icons/close.png');
}

#flatplan-pages .page .action.delete:hover {
    background-image: url('../img/icons/page-icons/close-pink.png');
}

#flatplan-pages .page .action.move {
    bottom: 3px;
    right: 3px;
    background-image: url('../img/icons/page-icons/move.png');
}

#flatplan-pages .page .action.move:hover {
    background-image: url('../img/icons/page-icons/move-pink.png');
}

#flatplan-pages .page .action.merge {
    top: 3px;
    right: 3px;
    height: 22px;
    background-image: url('../img/icons/page-icons/merge.png');
}

#flatplan-pages .page .page-number {
    position: absolute;
    bottom: -17px;
    left:0;
}

.page-number {
    font-size: 11px;
    line-height: 15px;
    font-weight: normal;
}

#layout-pages .page-number {
    font-size: 14px;
    line-height: 15px;
    font-weight: normal;
    color: #cf2982;
}

.page .action.merge:hover {
    background-image: url('../img/icons/page-icons/merge-pink.png');
}

.page .action.edit {
    bottom: 3px;
    left: 3px;
    background-image: url('../img/icons/page-icons/edit.png');
}

.page .action.edit:hover {
    background-image: url('../img/icons/page-icons/edit-pink.png');
}

.layout-page {
    width: 50px;
    height: 65px;
    background-color: #fff;
    position: relative;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.layout-page .title {
    font-size: 10px;
}

#layout-selection .layout-page:hover .section, #layout-selection .layout-page.selected .section {
    border-color: #cf2982;
}

#layout-selection .layout-page .section {
    border:1px solid;
    position: absolute;
    background-color: #fff;
}

#layout-pages .layout-page {
    width:70px !important;
    height: 100px !important;
    display: inline-block;
    float: none !important;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;
    border: 1px solid #ccc;
}

#layout-pages .layout-page.empty {
    border: 1px solid #ccc;
}

#layout-pages .layout-page.notEmpty {
    border: 0 !important;
}

#layout-pages .layout-page.main {
    border: 3px solid #f5f80e !important;
}

#layout-pages .layout-page .page-number {
    top: -18px;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}

#layout-pages .layout-page .section {
    position: absolute;
    box-sizing: border-box;
    border:1px solid #000;
    background-color: #fff;
}


#layout-pages .change-layout,#layout-pages .selectLayoutBt {
    position: absolute;
    bottom: -25px;
    font-size: 11px;
    width: 150%;
    left: -25%;
    color: #999;
    font-weight: 300;
}

#layout-pages .layout-page .section:hover,#layout-pages .layout-page .section.selected {
    border: 1px solid #cf2982 !important;
}

#layout-pages .layout-page .section:hover {
    /*z-index: 11111 !important;*/
}


#section-form {
    min-height: 200px;
}

.ui-state-highlight {
    background-color: #ccc !important;
    width: 74px !important;
    height: 98px !important;
    display: block !important;
    float: left;
    margin: 5px;
}

#flatplan-pages .page.empty .ui-state-highlight {
    background-color: #ccc !important;
}


#flatplan-pages .wrapper {
    min-height: 400px;
}

#selectLayoutBt {
    display: inline-block;
    float: none;
}

#edit-block {
    background-color: red;
    color: #fff;
    text-align: center;
    width: 100%;
}


#edit-block a {
    color: #fff;
    text-decoration: underline;
}

#edit-block.free {
    background-color: #4bb229;
}

#users-list span {
    font-size: 11px;
    display: inline-block;
}

#users-list .list {
    margin-bottom: 10px;
}

#users-list {
    background-color: #e7e7e7;
    padding: 10px;
    line-height: 18px;
}

#users-list hr {
    margin: 5px 0;
}

#go-live-bt {
    background-color: #65c5b8;
    color: #fff;
    font-weight: 100;
    padding: 2px 10px;
    margin-bottom: 10px;
}

#go-live-bt.live {
    background-color: #be2373;
    color: #fff;
}

#editLayoutModal .sidebar {
    color: #000;
}

#flatplanActions {
    margin: 20px 0;
}

#flatplanActions .icon-link.no-text:hover {
    width: 25px;
    height: 25px;
    background-size: 25px;
}