

body {
    background-image: url(../img/Tapi-Login_BG.jpg);
    background-position: center center;
    background-size: 100% auto !important;
}

@media screen and (max-width: 1426px) {
    body {
        background-size: auto 100% !important;
    }
}

.container {
    position: relative;
    min-height: 0 !important;
    height: auto !important;
}

.fa-btn {
    margin-right: 6px;
}

.form-control {
    padding: 5px;
    margin-bottom: 0;
    background-color: #fff !important;
    font-size: 19px;
    vertical-align: middle;
    display: block;
    line-height: 20px;
    height: 28px;
    font-weight: 100;
    font-family: 'Helvetica Neue';
    border-radius: 0;
    border: 0;
}

.form-group {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 17px;
}

#loginPage {
    position : relative;
}

#login-panel, #login-panel .panel-heading {
    margin: 0 auto;
    width: 375px;
    background: transparent;
    border:0;
}

#login-panel a {
    color: #fff;
    font-family: 'Helvetica Neue';
    font-size: 13px;
    padding-top: 0;
    display: inline-block;
    font-weight: 100;
}

#register-panel, #register-panel .panel-heading {
    margin: 0 auto;
    margin-top: 35px;
    background-color: transparent;
    border: 0;
}

#register-panel a {
    color: #fff;
    font-family: 'Helvetica Neue';
    font-size: 13px;
    padding-top: 0;
    display: inline-block;
    font-weight: 300;
}

.panel-body {
    padding-top: 0;
}

.btn {
    padding-top: 0;
}

.terms {
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-size: 13px;
}

#remember {
    margin-top: 0;
    display: inline-block;
    margin-left: 8px;
}

#drop-bt {
    font-weight: normal;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    margin: 1px 0;
    color: #231F20;
    cursor: pointer;
}

.drop-arrow {
    display: block;
    width: 26px;
    height: 15px;
    margin-right: -12px;
    float: left;
    background-size: 11px auto;
    background-position: left center;
    background-repeat: no-repeat;
}

.drop-arrow.inactive {
    background-image: url('../images/icons/Right-Black-Arrow.png');
}

.drop-arrow.active {
    margin-right: 0px;
    float: left;
    background-size: auto 10px;
    background-image: url('../images/icons/Down-Black-Arrow.png');
}

.btn-primary, .btn-primary:hover, .btn-primary:active {
    color: #fff;
    background-color: transparent !important;
    border-color: transparent !important;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    outline: 0 !important;
    padding-right: 0;
    font-weight: 500;
}

.alert {
    margin-bottom: 8px;
}

hr {
    margin-top: 0;
    margin-bottom: 7px;
    border: 0;
    border-top: 1px solid #eee;
    float: left;
    width: 100%;
}

#register-form {
    height: 0;
    overflow: hidden;
}

.modal-body input {
    background-color: #E6E5E6 !important;
}

.modal-dialog {
    width:350px;
}

.alert {
    background-color: transparent !important;
    padding: 3px !important;
    border-color: transparent !important;
    margin: 0 !important;
}

.link-divider {
    display: inline-block;
    width: 1px;
    margin: 0 3px;
    height: 17px;
    background-color: #fff;
}

#termsModal .modal-body p {
    margin-bottom: 1px;
}

#bottom-logos {
    position: absolute;
    bottom:40px;
    width: 100%;
    text-align: center;
}

#bottom-logos img {
    display: inline-block;
    vertical-align : baseline;
    margin-top: -5px;
}

.divider {
    display: inline-block;
    height: 28px;
    width: 1px;
    background-color: #fff;
    margin: 0 5px;
}